body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.derecha {
  height: 100%;
  width: 255px;
  position: fixed;
  top: 0;
  background-color: #f4f3ee;
  padding-top: 20px;
  right: 0;
}

.derecha a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

.derecha a:hover {
  background-color: #f4f3ee;
}

.agenda-slider {
  overflow-y: auto;
  max-height: 100%;
}

.agenda-item {
  display: inline-block;
  background-color: #666;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 8px;
  transition: background-color 0.3s ease;
}

.agenda-item:hover {
  background-color: #444;
}

.agenda-item h5 {
  margin-top: 0;
  color: #e2e2e2;
}

.agenda-item p {
  margin-bottom: 5px;
  color: #fff;
}

#calendar {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.abajo {
  margin-top: 20px;
}

a {
  color: black;
  text-decoration: none;
}

#top {
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  line-height: 40px;
  font-size: 12px;
}

h5{
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .derecha {
    width: 100%;
    position: static;
    height: auto;
  }

  #calendar {
    width: 90%;
    margin: 40px 40px;
  }

  .agenda-slider {
    text-align: center;
  }
}
